/*  */
@import './base.less';
@import './normalize.less';

/* 自己书写的less代码 */
//可以定义一个变量，先定义再使用
// 用rootfont存储根标签的字体大小，等到后续如果html的字体大小更改，更方便项目重构
@rootfont: 37.5rem;

body {
    background-color: #f0f0f0;
}

// 主体内容
.main {
    padding-bottom: (50 / @rootfont);

    .banner {
        width: 100%;
        height: (160 / @rootfont);

        img {
            width: 100%;
        }
    }

    // 活动标题
    .title {
        height: (40 / @rootfont);
        padding-left: (15 / @rootfont);
        line-height: (40 / @rootfont);

        h4 {
            font-size: (14 / @rootfont);
            color: #3c3c3c;
        }
    }

    // 活动内容
    section {
        .pic {
            position: relative;
            width: 100%;
            height: (160 / @rootfont);

            img {
                width: 100%;
            }

            .status {
                position: absolute;
                left: (15 / @rootfont);
                top: (-4 / @rootfont);
                width: (68 / @rootfont);
                height: (29 / @rootfont);
                background: url(../images/status_active.png);
                background-size: contain;
                font-size: (12/ @rootfont);
                color: #fff;
                text-align: center;
                line-height: (25 / @rootfont);
                // .status.off{}
                &.off{
                    background: url(../images/status_default.png);
                }
            }
        }

        .txt {
            padding: (10 / @rootfont) (15 / @rootfont);


            .top {
                display: flex;
                justify-content: space-between;
                margin-bottom: (15 / @rootfont);

                h4 {
                    width: (290 / @rootfont);
                    font-size: (15 / @rootfont);
                    font-weight: 400;
                    color: #3c3c3c;
                }

                p {
                    font-size: (15 / @rootfont);
                    color: #FE6249;
                }
            }
        }
    }
}

// 底部工具栏toolbar
.toolbar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: (50 / @rootfont);
    width: 100%;
    background-color: #FECA49;
}